.Feed{
    width: 33.3%;
    display: flex;
    justify-content: center;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-content: flex-start;


}
.home-block{
    width: 100%;
    height: 50px;
    border: 1px solid rgb(235, 232, 232);
    display: flex;
    flex-direction: row;
    }

.home-block>h1{
    width: 15%;
}
.tweets-block{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid blue;
}
.new-tweet-block{
    width: 100%;
    height: 100px;
    display: flex;
    border: 1px solid green;
}

.tweet{
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;

}
.profile-pic-block{
    width: 10%;
    height: 100%;
    border-radius: 50%;
}
.profile-pic{
    background: url(../Icons/profile.jpeg);
    background-size: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.tweet-content-block{
    width: 85%;
    height: 100%;
}