.leftSidebar{
    width: 33.3%;
    display: flex;
    flex-direction: row-reverse;
}
nav{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start ;

}
a{
    text-align: start;
    border-radius: 50%;
    margin-top: 5px;
    font-size: 30px;
    width: 100%;

}
.icon{
    width: 20px;

}