.leftSidebar{
    width: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
nav{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end ;

}
a{
    text-align: start;
    border-radius: 25px;
    margin-top: 5px;
    font-size: 26px;
    width: 100%;
    text-decoration: none;
    padding-bottom: 10px;
    padding-left: 10px;

    
}
a, a:visited, a:hover, a:active {
    color: inherit;
  }
  a:hover{
      background-color: #E7E7E8;
  }
 
.icon{
    width: 20px;
    margin-right: 10px;

}
.left-button{
    border-radius: 20px;
    border-style: none;
    background-color: #1D9BF0;
    color: white;
    margin-top: 20px;
    width: 60%;
    height: 45px;
}