.rightSidebar{
    width: 20%;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid grey;

}
.search-input{
    width: 80%;
    height: 40px;
    border-style: none;
    border-radius: 20px;
    background-color:#EFF3F4;
    margin-bottom: 5px;
}
.trends-block{
    background-color:#EFF3F4;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}
.trend{
    width: 100%;
    background-color:#EFF3F4;

}
.follow-block{
    background-color:#EFF3F4;
    border-radius: 10px;

    width: 100%;

}
footer{
    display: flex;
}